@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Formato en titulos y texto*/
.h2 {
  color: DimGray;
  text-align: center;
  text-shadow: -6px 8px 3px #bdacbd;
  margin: 50px;
}

#contenido h2 {
  text-decoration: underline;
  font-family: cursive;
  text-shadow: none;
}

.imgBienvenidos {
  width: 300px;
}

.seccion1 {
  background: url(../images/fondo.jpg) no-repeat center;
  background-size: cover;
}

/*BEM*/
.seccion4 {
  padding: 20px;
}

.seccion4__titulo {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 20px;
  color: white;
}

.seccion4__cont {
  color: white;
}

.seccion4__cont span {
  font-weight: bold;
}

.link__2 {
  width: 100%;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link__3 {
  width: 300px;
  height: auto;
}

.cont__4 {
  font-weight: bold;
  font-size: 20px;
}

.cont__3 {
  letter-spacing: 2px;
}

.link_5, .link_5_1, .link_5_2, .link_5_3 {
  width: 300px;
}

.link__2 .link__3 a img:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.titulo1 {
  color: blue;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
}

.titulo2 {
  color: Yellow;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
}

.titulo3 {
  color: DeepPink;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
}

.slider-1 img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  height: 70vh;
  width: 100%;
  background: url(../images/fondo_slider.png) no-repeat center;
  background-size: 1150px auto;
  background-size: cover;
}

.slider-2 img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  height: 70vh;
  width: 100%;
  background: url(../images/fondo_slider.png) no-repeat center;
  background-size: 1150px auto;
  background-size: cover;
}

.slider-3 img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  height: 70vh;
  width: 100%;
  background: url(../images/fondo_slider.png) no-repeat center;
  background-size: 1150px auto;
  background-size: cover;
}

.navegador {
  background-color: transparent !important;
}

.opcNav {
  font-family: "Pattaya", sans-serif;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: #f08080;
}

.submenu {
  background-color: #f08080;
}

.margen {
  margin-right: 50px;
}

.cardprint {
  height: auto;
  background-color: #f08080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardprint .carduno {
  width: 200px;
}

.cardprint .imgPresent {
  width: 100%;
  padding: 10px;
}

.cardprint .contImg {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardprint .contP {
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.cardprint .card-body .boton {
  width: 100%;
}

.cardprint .modalFormat {
  background-color: #f08080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.enlImg {
  width: 100vh;
}

.iconred {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_0 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card_1 {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

.card-1, .card-01, .card-001 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../images/agenda.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
}

.card-01 {
  background-image: url(../images/icon_lidherma.jpg);
}

.card-001 {
  background-image: url(../images/maps.jpg);
}

.card-2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.infogral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info {
  width: 100%;
  min-height: 200px;
  background-color: #f08080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.info1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comentario {
  color: gray;
}

.modalturno {
  background-color: #f08080;
}

.erikaSecImag div img {
  max-width: 100%;
  height: auto;
}

.erikaSecImag div {
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
}

.erikaSecImag .galeria .galeria1 div:hover {
  cursor: pointer;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.listaTabla {
  list-style-position: inside;
  list-style-type: none;
}

.iconoTabla {
  border: 1px solid #ddd;
  width: 50px;
}

.acord {
  background-color: #f08080;
}

.nombreAcord {
  font-family: "Pattaya", sans-serif;
  font-size: 20px;
  text-decoration: underline;
  letter-spacing: 2px;
  background-color: #f08080;
}

.iframetut {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20%;
}

.iframetut1 {
  width: 100%;
  height: 350px;
}

.cardtut1 {
  background-color: peachpuff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.seccion2 > p {
  font-size: 20px;
}

.contiframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.iframemaps {
  width: 100%;
  height: 350px;
}

.form0 {
  background-color: #f08080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 10px;
}

.form {
  width: 100%;
  margin: 5px;
}

/* formato Footer */
.footer p span {
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */